body {
  background-color: lightgray;
}
h1 {
  text-align: center;
  background-color: beige;
}


/*      VS COde editor comment shortcut (ctrl+/)     */

 /* inline css > internal css > external css  */